/*  your css code here. If applicable */
.hero{
   display:flex;
	justify-content:space-between;

}

#first{
	display:inline-block;
	width:300px;
	height:200px;
	
}

#second{
	display:inline-block;
	width:300px;
	height:200px;
	
	
}



h1{
	text-align:center;
	padding-top:1px;
}
p{
	text-align:center;
}
#btn{
	background-color:red;
	color:white;
	border:none;
	border-radius:4px;
	margin-left:100px;
}

#image{
	object-fit:cover;
	width:300px;
	height:200px;
}























